<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New program</title>
    <style type="text/css">
        body {
            background-color: #AAAAAA;
        }
        h1 {
            color: #FBCF00;
        }
    </style>
</head>
<body>
<h1>New program {{ program.title }} created</h1>
<p>Hello, the new program {{ program.title }} has been created on Wild Series</p>
<p>Summary : {{program.summary }}
</body>
</html>