$primary: #D3D3D3;
$secondary: #48536E;
$success: #FBCF00;
$warning : #00BB8C;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary;
    & a {
        color: $secondary;
    }
}


